body{
	margin:40px auto;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding:0 10px
}

h1{
	line-height:1.2
}

table, th, td {
  border: 1px solid #555;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
	text-align: center;
}
