<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>CSE534 Browser Fingerprinting</title>
		<link rel="stylesheet" type="text/css" href={{
			url_for('static',filename='style.css')}}>
		<link rel="shortcut icon" type="image/x-icon" href={{
			url_for('static',filename='favicon.ico')}}>
		<script type="text/javascript" src={{
			url_for('static',filename='jstz.min.js')}}></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script type="text/javascript" src={{
			url_for('static',filename='hash.js')}}></script>
		<script type="text/javascript" src={{
			url_for('static',filename='fontdetect.min.js')}}></script>
		<script type="text/javascript" src={{
			url_for('static',filename='canvas_webgl_fp.js')}}></script>
		<script type="text/javascript" src={{
			url_for('static',filename='fing.js')}} defer></script>
	</head>
	<body>
		<h1>Browser Fingerprinting Information</h1>
		<h2 id=visitor></h2>
		<table>
            <col width = 30%>
            <col width = 70%>
				<thead>
					<tr>
						<th>Browser Characteristic</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody id=browser-info>
					<tr>
						<td class = 'side'>User Agent</td>
						<td>{{user_agent}}</td>
					</tr>
					<tr>
						<td class = 'side'>HTTP Accept</td>
						<td>{{http_accept}}</td>
					</tr>
				</tbody>
		</table>
        <p>{{test}}</p>
	</body>
</html>
